<!DOCTYPE html>
<html>

<head>

<title>Admin Dashboard</title>

<link rel="stylesheet" href="/css/style.css">

</head>


<body>


<div class="result-container">


<h1>
⚡ Admin Dashboard
</h1>


<p>
Welcome <%= admin.username %>
</p>



<div class="stats">


<div>

<h2>
<%= totalDownloads %>
</h2>

<p>
Total Downloads
</p>

</div>



<div>

<h2>
<%= todayDownloads %>
</h2>

<p>
Today Downloads
</p>

</div>



<div>

<h2>
Online
</h2>

<p>
System Status
</p>

</div>


</div>



<h2>
Recent Downloads
</h2>



<table style="width:100%;margin-top:30px">


<tr>

<th>
Title
</th>

<th>
Type
</th>

<th>
Date
</th>

</tr>



<% recentDownloads.forEach(item=>{ %>


<tr>


<td>
<%= item.title || "Unknown" %>
</td>


<td>
<%= item.type %>
</td>


<td>
<%= item.created_at %>
</td>


</tr>


<% }) %>


</table>



<br>


<a class="btn-premium"
href="/admin/logout">

Logout

</a>



</div>


</body>

</html>
